<h1>Welcome, <%= @user.username %>!</h1>

<p>
  Your Balance: $<%= sprintf("%.2f",@user.balance) %><br>

  <form method=post action="/account">
    <h2>Withdraw Money:</h2>
    <input type="text" name="amount" placeholder="$0.00"><br>

    <input type="submit" id="submit">
  </form>

  <form method=post action="/account">
    <h2>Deposit Money:</h2>
    <input type="text" name="amount" placeholder="$0.00"><br>

    <input type="submit" id="submit">
  </form>
</p>

<p><a href="/logout">Log Out</a></p>
